.wrapper{
    text-align: center;

    align-items: center;
    justify-content: center;
}
.coontainer{
 margin: 0px 500px;
    padding: 10px 0;

}
.form{
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 0px 15px;
    font-size: 20px;

    height: 110px;
    text-align: center;

    align-items: center;
}
.dop{
    padding: 15px 0;
}
.input{
    height: 30px;
    font-size: 17px;
    width: 200px;
}
.button{
    padding: 5px 5px;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
    margin: 0 5px;
    background-color: cornflowerblue;
}
.button:hover{
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
}